@model WebfixShop.Entities.Category
@{
    ViewBag.Title = "Delete";

}
<h1>Delete  Category </h1>
<h2>Are you Sure  ?? </h2>
<form method="post">

    <input name="ID" value="@Model.ID" />
    <button type="submit">Yes Delete</button>

</form>

